.signup {
  width: 40%;
  min-height: 56vh;
  margin: 100px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px;
}

.title {
  color: blue;
  font-size: 1.5rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  margin-top: 10px;
  /* height: 80%; */
  gap: 25px;
}

.input-card {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  width: 40%;
  margin: auto;
}

.errors {
  color: red;
  margin: auto;
  width: 100%;
  padding: 1%;
  text-align: left !important;
}

.label {
  padding-left: 1%;
}

.login-link {
  width: 50%;
  margin-left: 5px;
  display: inline;
  font-size: 1rem;
  color: blue;
}

.login-link:hover {
  opacity: 0.8;
  color: blue;
}
